.container {
  padding: 20px;
  max-width: flex; /* Limit the maximum width of the page */
  margin: 0 auto; /* Center the container */
  background: linear-gradient(135deg, #015c44, #000000); /* Gradient background */
  min-height: 100vh; /* Full height */
}

.list {
  display: 80%;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between; /* Space out details and button */
  align-items: center; /* Center vertically */
  padding: 10px;
  background: rgba(255, 255, 255, 0.123); /* Slightly transparent white */
  border-radius: 5px; /* Rounded corners */
  background: rgba(255, 255, 255, 0.356); /* Slightly transparent white */
  margin-bottom: 10px; /* Space between boxes */
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.details {
  display: flex; /* Use flexbox for alignment */
  flex-grow: 1; /* Allow this to grow and take available space */
}

.details span {
  padding: 5px; /* Padding for spacing */
  
  flex: 1; /* Make spans take equal space */
}

.details .name {
  font-size: 1.2em; /* Make the name larger */
  font-weight: bold; /* Make the name bold */
  margin-right: 10px; /* Space between name and surname */
}

.detailsButton {
  margin-left: 10px; /* Space between details and button */
  padding: 5px 10px; /* Padding for the button */
  border: none; /* Remove default border */
  background-color: #2a6355; /* Button color */
  color: white; /* Text color */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s
}

.detailsButton:hover {
  background-color: #1c4137; /* Darker color on hover */
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  color: white; /* White for headings */
  font-size: 2.5rem; /* Larger heading */
  font-weight: 700; /* Bold heading */
}
.searchInput {
  width: 100%; /* Full width of the container */
  padding: 10px; /* Padding for spacing */
  margin-bottom: 20px; /* Space below the search input */
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px; /* Rounded corners */
  font-size: 1em; /* Font size */
  color: #333; /* Text color */
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  outline: none; /* Remove default outline */
}

.searchInput:focus {
  border-color: #2a6355; /* Blue border on focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Glow on focus */
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust this to fit your layout */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #2a6355; /* Blue-green */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Spinner animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
