.container {
  padding: 20px;
  max-width: 100%; /* Limit the maximum width of the page */
  margin: 0 auto; /* Center the container */
  background: linear-gradient(135deg, #80ed6d, #2193b0); /* Gradient background */
}

.list {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between; /* Space out details and button */
  align-items: center; /* Center vertically */
  padding: 10px;
  background: rgba(255, 255, 255, 0.123); /* Slightly transparent white */
  border-radius: 5px; /* Rounded corners */
  background: rgba(255, 255, 255, 0.356); /* Slightly transparent white */
  margin-bottom: 10px; /* Space between boxes */
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.details {
  display: flex; /* Use flexbox for alignment */
  flex-grow: 1; /* Allow this to grow and take available space */
}

.details span {
  padding: 5px; /* Padding for spacing */
  
  flex: 1; /* Make spans take equal space */
}

.details .name {
  font-size: 1.2em; /* Make the name larger */
  font-weight: bold; /* Make the name bold */
  margin-right: 10px; /* Space between name and surname */
}

.detailsButton {
  margin-left: 10px; /* Space between details and button */
  padding: 5px 10px; /* Padding for the button */
  border: none; /* Remove default border */
  background-color: #007BFF; /* Button color */
  color: white; /* Text color */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
}

.detailsButton:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  color: white; /* White for headings */
  font-size: 2.5rem; /* Larger heading */
  font-weight: 700; /* Bold heading */
}