/* Container Styling */
.container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(135deg, #80ed6d, #2193b0);
}

/* Lesson List Styling */
.list {
  display: flex;
  flex-direction: column;
}

/* Card for Each Lesson */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

/* Details Styling */
.details {
  display: flex;
  flex-grow: 1;
}

.details span {
  padding: 5px;
  flex: 1;
}

.details .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
}

/* Button Styling */
.detailsButton {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #2a6355;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.detailsButton:hover {
  background-color: #1e473c;
}

/* Styles for the delete button */
.deleteButton {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #9b0000;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.deleteButton:hover {
  background-color: #610000;
}

/* Heading Styling */
.heading {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Search Input Styling */
.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
}

.searchInput:focus {
  border-color: #2a6355;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Flex Container for Month and Week */
.selectContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Dropdown Select Styling */
.selectInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #cccccc00;
  border-radius: 5px;
  font-size: 1em;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.203);
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #ffffff, #d0d0d0);
}

/* Focus Effect */
.selectInput:focus {
  border-color: #007bff00;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0);
}

.createButton {
  background-color: #2a6355;
  /* Green */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #1c4339;
  /* Darker green */
}


/* Styles for the confirmation popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popupContent {
  background-color: rgba(255, 255, 255, 0.356);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.popupContent p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.confirmButton,
.cancelButton {
  padding: 8px 16px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

/* Confirm button styles */
.confirmButton {
  background-color: #ff0000;
  color: white;
}

.confirmButton:hover {
  background-color: #940000;
}

/* Cancel button styles */
.cancelButton {
  background-color: #ffffff;
  color: #333333;
}

.cancelButton:hover {
  background-color: #b3b3b3;
}